---
import ToggleIcon from '../components/ToggleIcon.vue';
import { Icon } from "astro-icon/components";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div>
		<ToggleIcon client:only="vue">
			<Icon name="mdi:heart" />
		</ToggleIcon>
	</div>
</BaseLyout>
